$color_black_light_1: #333333;
$color_black_light_2: #222222;

$color_gray_light_1: #525252;
$color_gray_light_2: #e6e6e6;
$color_gray_light_3: #fafafa;
$color_gray_light_4: #f5f5f5;

$color_green_light_1: #03cc3b;
